[submodule "icn_repos/icn_identity"]
	path = icn_repos/icn_identity
	url = https://github.com/InterCooperative-Network/icn_identity.git
[submodule "icn_repos/icn_blockchain"]
	path = icn_repos/icn_blockchain
	url = https://github.com/InterCooperative-Network/icn_blockchain.git
[submodule "icn_repos/icn_consensus"]
	path = icn_repos/icn_consensus
	url = https://github.com/InterCooperative-Network/icn_consensus.git
[submodule "icn_repos/icn_currency"]
	path = icn_repos/icn_currency
	url = https://github.com/InterCooperative-Network/icn_currency.git
[submodule "icn_repos/icn_demo"]
	path = icn_repos/icn_demo
	url = https://github.com/InterCooperative-Network/icn_demo.git
[submodule "icn_repos/icn_federation"]
	path = icn_repos/icn_federation
	url = https://github.com/InterCooperative-Network/icn_federation.git
[submodule "icn_repos/icn_governance"]
	path = icn_repos/icn_governance
	url = https://github.com/InterCooperative-Network/icn_governance.git
[submodule "icn_repos/icn_incentives"]
	path = icn_repos/icn_incentives
	url = https://github.com/InterCooperative-Network/icn_incentives.git
[submodule "icn_repos/icn_language"]
	path = icn_repos/icn_language
	url = https://github.com/InterCooperative-Network/icn_language.git
[submodule "icn_repos/icn_market"]
	path = icn_repos/icn_market
	url = https://github.com/InterCooperative-Network/icn_market.git
[submodule "icn_repos/icn_network"]
	path = icn_repos/icn_network
	url = https://github.com/InterCooperative-Network/icn_network.git
[submodule "icn_repos/icn_node_management"]
	path = icn_repos/icn_node_management
	url = https://github.com/InterCooperative-Network/icn_node_management.git
[submodule "icn_repos/icn_reputation"]
	path = icn_repos/icn_reputation
	url = https://github.com/InterCooperative-Network/icn_reputation.git
[submodule "icn_repos/icn_sharding"]
	path = icn_repos/icn_sharding
	url = https://github.com/InterCooperative-Network/icn_sharding.git
[submodule "icn_repos/icn_smart_contracts"]
	path = icn_repos/icn_smart_contracts
	url = https://github.com/InterCooperative-Network/icn_smart_contracts.git
[submodule "icn_repos/icn_storage"]
	path = icn_repos/icn_storage
	url = https://github.com/InterCooperative-Network/icn_storage.git
[submodule "icn_repos/icn_testnet"]
	path = icn_repos/icn_testnet
	url = https://github.com/InterCooperative-Network/icn_testnet.git
[submodule "icn_repos/icn_utils"]
	path = icn_repos/icn_utils
	url = https://github.com/InterCooperative-Network/icn_utils.git
[submodule "icn_repos/icn_vm"]
	path = icn_repos/icn_vm
	url = https://github.com/InterCooperative-Network/icn_vm.git
[submodule "icn_repos/icn_zkp"]
	path = icn_repos/icn_zkp
	url = https://github.com/InterCooperative-Network/icn_zkp.git
[submodule "icn_repos/icn_api"]
	path = icn_repos/icn_api
	url = https://github.com/InterCooperative-Network/icn_api.git
[submodule "icn_repos/icn_dao"]
	path = icn_repos/icn_dao
	url = git@github.com:InterCooperative-Network/icn_dao.git
